.row {
  margin: 48px auto;
}

.container {
  width: 100%;
  position: relative;
}

.col-full {
  width: 100%;
  margin: auto;
}

.col-90 {
  width: 90%;
  margin: auto;
}

.span-1-of-2 {
  width: 48.5%;
}

.centered,
.card-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          // flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


header,
.card-header,
#landing-page {
  color: white;
}

.content-wrapper {
  max-width: 1200px;
  margin: auto;
}