/*============ FONTS ============*/ 
 @import 'baguul';

// $extra-light: "extra-light";
// $light: "light";
// $regular: "regular";
// $medium: "medium";
// $bold: "semi-bold";
// $bolder: "bold";

//COLORS
$pinkAccent: #F3408B;
$purpleNav: #2C2547;
$darkText: #3D4D55;
$greenAccent: #05C2C9;
$offWhite: #F8F8F8;

/*============BASE SETTINGS============*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: $offWhite;
  color: #3D4D55;
  font-family: $extra-light, Arial, Helvetica, sans-serif;
  text-align: center;
  text-rendering: optimizeLegibility;
}

// ul {
//   display: block;
//   list-style-type: disc;
//   margin-block-start: 1em;
//   margin-block-end: 1em;
//   margin-inline-start: 0px;
//   margin-inline-end: 0px;
//   padding-inline-start: 0;
// }


nav li {
  display: inline-block;
  list-style: none;
  margin-left: 8px;
  letter-spacing: 2px;
}

a, a:visited {
  color: $offWhite;
  text-decoration: none; 
}

  a:hover, a:active {
    color: $pinkAccent;
    border-bottom: 1px $pinkAccent solid;
  }

  :visited {

  }


li {
  // list-style: none;
}

h1, h2, h3, p, li {
  font-weight: normal;
}

h1 {
  font-family: $bold;
  font-size: 4em;
}

h2 {
  font-size: 1.5em;
}

/*=============COMMON STYLING===============*/

@import 'common';

//SECTION HEADERS Bannders<h2>
.section-header {
  margin: 48px 0;
  font-family: $medium;
  font-size: 2em;
}



/*============HEADER NAV==============*/

header {
  height: 80px;
  width: 100%;
  margin: auto;
  background: $purpleNav;
  display: flex;
  position: fixed;
  z-index: 10;
  border-bottom: 2px $pinkAccent solid;
  nav {
    font-weight: 200;

    li {
      display: inline-block;
      text-transform: uppercase;
    }
  }
}

.img-background {
  background: url(./images/landing-page.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*============LANDING PAGE==============*/

#landing-page {
  height: 100vh;
  padding: 20px;
  position: relative;

  div {
    flex-direction: column;
  }

  h1 {
    margin:.3em 0;
    font-size: 52px;
    color: $greenAccent;
  }

  #marketing-simplified {
    margin-top: 1.65em;
    letter-spacing: 2px;
    font-size: 1.5em;
    font-family: $extra-light;

  }

  p {
    margin-bottom: -10px;
    font-size: 22px;
    text-align: left;
    letter-spacing: 1.5px;
    
  }

}
  #span-eclipse {
    font-family: $medium;
  }

  #span-web {
    color:$offWhite;
    font-family: $light;
}

/*============ABOUT==============*/

#tagline {
  font-size: 1.25em;
  letter-spacing: 1.5px;
  margin-bottom: 60px;
  padding: 0 8px;
}

/*============CARD==============*/

.card,
.card-large {
  min-height: 346px;
  margin: 24px 16px;
  position: relative;
  font-size: 24px;
  line-height: 1.5em;
}

.card-list-wrapper {
  align-items: center;
  flex-direction: row; //
  padding: 24px 0; //REVIEW & REVISE ul's vertical align
  text-align: left;

  li {
    list-style-type: none;
  }
}

.card {

}

.card-header {
  padding: 5px 6%;
  text-align: left;
  background-color: $greenAccent;
  z-index: 1;
}

.card-img {
  position: absolute;
  background-size: cover;
  background-position: center;
  top: 0;
  z-index: - 1;
  height: 100%;
  width: 50%;
  background-color: rgba(17, 6, 6, 0.4);
  
} 

#cropped-img-left {
  background-image: url('images/design-img.png');
  right: 0%;
  clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
}

#cropped-img-right {
  background-image: url('images/code-img.jpg');
  left: 0%;
  clip-path: polygon(0 0, 100% 0%, 60% 100%, 0 100%);
  
}

#card-left  {
  ul {
    text-align: left;
    padding-left: 6%;
  }
}


#card-right {
  position: relative;
  ul, h3 {
    position: relative;
    text-align: right;
    right: 0%;
  }

  ul {
    text-align: right;
    
    // padding-left: 50%;
    // margin-left: 64%;
  }

}

#ul-right {
  display: inline-block;
  position: absolute;
  right: 6%;
  
}

///////////////////test


// .test-header::before{
//   content:" CODE";
//   // width: 100%;
//   padding: 0px 0px;
//   text-align: left;
//   // height:10px;
//   background-color: $greenAccent;
//   z-index: 1;
//   color: $offWhite;
//   font-family: $extra-light;
//   font-size: 1.25em;
// }

#test-cropped-img-right {
  
  background-image: url('images/code-img.jpg');
  left: 0%;
  clip-path: polygon(0 0, 100% 0%, 0 100%, 0 100%);
}


/************ENDS************/




.card-large {
  min-height: 300px;
  // justify-content: center;
}

#card-btm {

  flex-direction: column;
  // justify-content: center;
}

.foo {
  padding: 32px 0;

  h2 {
    margin: 16px;
  }

  .foo:nth-of-type(2) {
    padding-top: 0;
  }
}


/*============ BANNERS ==============*/

.shadow-main {
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .4);
}

.shadow-btm {
  box-shadow: 0 5px 6px -2px rgba(0, 0, 0, .4);
}

#projects-banner {
  padding: 5px 0;
  margin-bottom: 40px;
  color: white;
}