/*============ FONTS ============*/
@font-face {
  font-family: "extra-light";
  src: url(fonts/Oswald-ExtraLight.ttf);
}

@font-face {
  font-family: "light";
  src: url(fonts/Oswald-Light.ttf);
}

@font-face {
  font-family: "regular";
  src: url(fonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: "medium";
  src: url(fonts/Oswald-Medium.ttf);
}

@font-face {
  font-family: "semi-bold";
  src: url(fonts/Oswald-SemiBold.ttf);
}

@font-face {
  font-family: "bold";
  src: url(fonts/Oswald-Bold.ttf);
}

@font-face {
  font-family: "Satisfy";
  src: url(fonts/Satisfy-Regular.ttf);
}

/*============BASE SETTINGS============*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  background: #f3f3f3;
  color: #3D4D55;
  font-family: "extra-light", Arial, Helvetica, sans-serif;
  text-align: center;
  text-rendering: optimizeLegibility;
}

nav li {
  display: inline-block;
  list-style: none;
  margin-left: 8px;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
p,
li {
  font-weight: normal;
}

h1 {
  font-family: "semi-bold";
  font-size: 4em;
}

h2 {
  font-size: 1.5em;
}

button {
  background: transparent;
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:hover {
  background: transparent;
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:active {
  outline: none;
  border: none;
}

button:focus,
textarea:focus,
input:focus {
  outline: 0;
}

/*=============COMMON STYLING===============*/
.row {
  margin: 48px auto;
}

.container {
  width: 100%;
}

.col-full {
  width: 100%;
  margin: auto;
}

.col-90 {
  width: 90%;
  margin: auto;
}

.span-1-of-2 {
  width: 48.5%;
}

.centered,
.card-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header,
.card-header,
#landing-page {
  color: white;
}

.content-wrapper {
  max-width: 1200px;
  margin: auto;
}

.section-header {
  margin: 40px 0;
  font-family: "medium";
  font-size: 2em;
}

/*============HEADER NAV==============*/
header {
  display: none;
}

.img-background {
  background: url(./images/landing-page.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-nav,
.main-nav:visited {
  color: #f3f3f3;
}

.main-nav:hover,
.main-nav:active {
  color: #F3408B;
  border-bottom: 2px #F3408B solid;
}

/*============LANDING PAGE==============*/
#landing-page {
  height: 100vh;
  padding: 20px;
  position: relative;
}

#landing-page div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#landing-page h1 {
  margin: .3em 0;
  font-size: 48px;
  color: #05C2C9;
}

#landing-page #marketing-simplified {
  margin-top: 1.65em;
  letter-spacing: 2px;
  font-size: 1.5em;
  font-family: "extra-light";
}

#landing-page p {
  margin-bottom: -10px;
  font-size: 1.25em;
  text-align: left;
  letter-spacing: 1.5px;
}

#landing-page #coming-soon {
  text-align: center;
  font-size: .5em;
  margin-top: 20px;
}

#span-eclipse {
  font-family: "medium";
}

#span-web {
  color: #f3f3f3;
  font-family: "light";
}

/*============ABOUT==============*/
#tagline {
  font-size: 1.25em;
  letter-spacing: 1.5px;
  line-height: 1.5;
  margin-bottom: 60px;
  padding: 0 8px;
}

/*============CARD==============*/
.card,
.card-large {
  min-height: 300px;
  margin: 24px 16px;
  position: relative;
  font-size: 22px;
  line-height: 1.5em;
}

.card-list-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 24px 0;
  text-align: left;
}

.card-list-wrapper li {
  list-style-type: none;
}

.card-header {
  padding: 5px 6%;
  text-align: left;
  background-color: #05C2C9;
  z-index: 0;
}

.card-img {
  position: absolute;
  background-size: cover;
  background-position: center;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 50%;
  background-color: rgba(17, 6, 6, 0.4);
}

#cropped-img-left {
  background-image: url("images/design-img.png");
  width: 100%;
  right: 0%;
}

#cropped-img-right {
  background-image: url("images/code-img.png");
  width: 100%;
  left: 0%;
}

#card-left ul {
  text-align: left;
  padding-left: 6%;
}

#card-right {
  position: relative;
}

#card-right ul,
#card-right h3 {
  position: relative;
  text-align: right;
  right: 0%;
}

#card-right ul {
  text-align: right;
}

#ul-right {
  display: inline-block;
  position: absolute;
  right: 6%;
}

/* CARD LARGE */
#services {
  padding-bottom: 40px;
}

.card-large {
  min-height: 300px;
}

.card-large .card-header {
  text-align: center;
}

#card-btm {
  /********Refactor*********/
  -ms-flex-direction: column;
      flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: column;
  -ms-flex: column;
  flex: column;
}

.btm-card-col {
  max-width: 210px;
  padding: 24px 0;
}

.btm-card-col h2 {
  margin: 32px 0;
  font-family: "medium";
  font-size: 1em;
}

.btm-card-col .btm-card-col:nth-of-type(2) {
  padding-top: 0;
}

.icon-list-container {
  padding: 8px 0;
}

.tool-icons {
  display: inline-block;
  padding: 0;
}

.icon-text {
  text-align: right;
  padding-right: 16px;
}

.icon-img {
  width: 28%;
  display: inline-block;
  padding-left: 16px;
}

/*============ BANNERS & SHADOWS ==============*/
.shadow-main {
  -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
}

.shadow-btm {
  -webkit-box-shadow: 0 5px 6px -2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 6px -2px rgba(0, 0, 0, 0.4);
}

#projects-banner {
  padding: 5px 0;
  margin: 40px 0;
  color: white;
}

#projects-header {
  margin: 0;
}

/*============ PROJECTS: NAV ==============*/
button {
  border: none;
  margin: 0 2px;
  padding: 10px;
  font-size: 1.25em;
  color: #3D4D55;
}

button:hover, button:focus {
  color: white;
  background: #F3408B;
}

/*============ PORTFOLIO IMAGES ==============*/
#gallery-container {
  margin-top: 80px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery-wrapper {
  background-color: black;
  font-weight: bold;
  overflow: hidden;
  margin: 0;
  cursor: pointer;
  width: 300px;
  height: 300px;
}

.gallery-wrapper img {
  opacity: .95;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

.gallery-wrapper img:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#alloy-landscape {
  content: url(./images/thumbnails/site-alloy-design-studio.jpg);
}

#bin {
  content: url(./images/thumbnails/design-bin.jpg);
  -o-object-position: top;
     object-position: top;
}

#locker {
  content: url(./images/thumbnails/email-locker.jpg);
  -o-object-position: top;
     object-position: top;
}

#ilovewingsauce {
  content: url(./images/thumbnails/site-ilovewingsauce.jpg);
}

#ibc {
  content: url(./images/thumbnails/email-ibc.jpg);
  -o-object-position: top;
     object-position: top;
}

#icey {
  content: url(./images/thumbnails/design-icey.jpg);
  -o-object-position: top;
     object-position: top;
}

#hhv {
  content: url(./images/thumbnails/desgin-hhv.jpg);
}

#robo-ruckus {
  content: url(./images/thumbnails/design-robo-ruckus.jpg);
}

/*============ CONTACT ==============*/
svg {
  stroke: transparent;
}

#contact {
  margin-top: 128px;
  padding-bottom: 0 0 0 20%;
}

#contact #form-container {
  padding: 50px 0;
}

#contact h2 {
  color: #f3f3f3;
}

form,
input,
textarea {
  width: 95%;
  margin: 8px auto;
  padding: 16px 0;
  display: block;
  border: none;
}

form {
  padding: 0;
  max-width: 450px;
}

input,
textarea {
  background-color: #2C2547;
  color: #f3f3f3;
  font-family: "light";
  font-size: 1.25em;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  padding-left: 16px;
  color: gray;
  margin-bottom: 20px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  padding-left: 16px;
  color: gray;
  margin-bottom: 20px;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  padding-left: 16px;
  color: gray;
  margin-bottom: 20px;
}

input::placeholder,
textarea::placeholder {
  padding-left: 16px;
  color: gray;
  margin-bottom: 20px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  padding-left: 16px;
  color: gray;
  margin-bottom: 20px;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  padding-left: 16px;
  color: gray;
  margin-bottom: 20px;
}

input {
  height: 2.5em;
}

textarea {
  resize: none;
  height: 150px;
}

/*============ FOOTER ==============*/
footer {
  width: 100%;
  padding: 24px;
  background-color: #292633;
  color: #f3f3f3;
  font-family: satisfy;
}

/*==================== 
Media Queries
 ====================*/
@media only screen and (min-width: 768px) {
  header {
    height: 50px;
    width: 100%;
    margin: auto;
    background: #2C2547;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 10;
  }
  header i {
    margin-left: 60px;
  }
  header nav {
    margin-right: 60px;
  }
  header li {
    display: inline-block;
    text-transform: uppercase;
  }
  /*============LANDING PAGE==============*/
  #landing-page div p {
    font-size: 2.25em;
  }
  #landing-page div h1 {
    font-size: 5em;
  }
  #landing-page div #marketing-simplified {
    font-size: 2em;
  }
  #landing-page div #coming-soon {
    font-size: .75em;
    margin-bottom: 20px;
  }
  /*============ABOUT==============*/
  #tagline {
    font-size: 1.5em;
  }
  /*============CARD==============*/
  .container-card,
  #card-btm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #card-btm {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .card {
    width: 50%;
  }
  .btm-card-col {
    max-width: 210px;
    padding: 24px 0 48px;
  }
  #gallery-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1200px) {
  #landing-page div p {
    font-size: 2.75em;
  }
  #landing-page div h1 {
    font-size: 6em;
  }
  #landing-page div #marketing-simplified {
    font-size: 2.5em;
  }
}
/*# sourceMappingURL=style.css.map */